*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hero{
  position: relative;
  width: 100%;
  height: 100vh;
  background: #fcfcfc;
  position: relative;
}

nav{
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 100px;
  cursor: pointer;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

nav ul li a:hover{
  color: red;
}

.Name{
  margin-left: 8%;
  margin-top: 15%;
}

.Name h1{
    color: #0a0a0a;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 20px;
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #fd4766 79.69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span{
  color: orange;
  
}

.Name p{
  color: #555;
  line-height: 22px;
}

.Name a{
  background: #099ef5;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}

.skills{
  margin-left: 8%;
  margin-top: 15%;
}

p {
  font-size: 20px;
}

.container {
  background-color: rgb(203, 131, 254);
  width: 50%;
  border-radius: 10px;
}

.skill {
  background-color: rgb(125, 4, 247);
  color: white;
  padding: 1%;
  text-align: right;
  font-size: 20px;
  border-radius: 10px;
}

.html {
  width: 80%;
}

.css {
  width: 60%;
}

.php {
  width: 80%;
}

.js {
  width: 60%;
}

.Bootstrap {
  width: 80%;
}

.images{
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px;
}

.images img{
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}

.images:hover .me{
  left: 45%;
}

.contact{
  margin-left: 8%;
  margin-top: 100px;
}

.contact a{
  font-size: 30px;
  color: #0d7bc0;
  margin-right: 20px;
}

.contact a:hover{
  color: rgb(253, 99, 9);
}